.shop-container {
  text-align: center;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.product-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
}

.product-card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.rating{
  display: inline;
}

.price-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price-container div{
  display: flex;
  gap: 10px;
}

.price {
  font-weight: bold;
}

button {
  background-color: #333;
  color: white;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #555;
}
