<div class="shop-container">
  <div class="product-grid">
    <app-product-card
      *ngFor="let product of products"
      [product]="product"
      (productClick)="showProductDetails($event)"
    ></app-product-card>
  </div>
  <!-- Optional product detail display -->
  <div *ngIf="selectedProduct">
    <h2>{{ selectedProduct.name }}</h2>
    <p>{{ selectedProduct.description }}</p>
    <div>
      <p
        [ngStyle]="{ 
    'color': selectedProduct.onSale ? 'red' : 'inherit',
    'text-decoration': selectedProduct.onSale ? 'line-through' : 'normal',
    'font-size': selectedProduct.onSale ? '0.8em' : '1em',
    'display': selectedProduct.onSale ? 'inline' : 'block',
  }"
        class="price"
      >
        {{ selectedProduct.price | formatPrice }}
      </p>
      <p *ngIf="selectedProduct.onSale" class="sale-price">
        {{ selectedProduct.discountedPrice | formatPrice }}
      </p>
    </div>
    <button (click)="addToCart(selectedProduct)">Add to Cart</button>
    <p class="rating">
      {{
        selectedProduct.averageRating
          ? selectedProduct.averageRating + " / 5"
          : "No Reviews"
      }}
    </p>
    <!-- reviews -->
    <div *ngIf="selectedProduct.reviews && selectedProduct.reviews.length > 0">
      <h3>Reviews:</h3>
      <ul>
        <li *ngFor="let review of selectedProduct.reviews">
          <strong>{{ review.userID }}:</strong> {{ review.comment }}:{{ review.rating }}
        </li>
      </ul>
  </div>
</div>
