<div class="header">
    <div class="title">Dragonstone</div>
</div>
<div class="navbar">
    <button (click)="pageSwitch('home')" id="home"  class="nav-button active">Home</button>
    <button (click)="pageSwitch('shop')" id="shop" class="nav-button" >Store</button>
    <button (click)="pageSwitch('cart')" id="cart" class="nav-button">Cart</button>
    <button (click)="pageSwitch('login')" id="login" class="nav-button">Login</button>
    <button  (click)="pageSwitch('register')" id="register" class="nav-button">Register</button>
</div>