@font-face {
  font-family: "GothicTitleFont";
  src: url(../../fonts/OldLondon.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

$bg-color: #1a1a1d;
$highlight-color: #6a1e55;
$text-color: #bcbcbc;

.header {
  background-color: $bg-color;
  display: flex;
  flex-direction: column;
}
.title {
  text-align: center;
  font-family: "GothicTitleFont", sherif;
  font-size: 3.4rem;
  padding-top: 0.4rem;
  padding-bottom: 1.5rem;
  cursor: pointer;
  display: inline;
  width: fit-content;
  margin: auto;
}

.navbar {
  background-color: $bg-color;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 0;
  position: sticky;
  top: 0;
  z-index: 1000;

  @media (max-width: 770px) {
    display: none;
  }
}

.mobile-menu-button {
  display: none;
  margin-left: auto;

  @media (max-width: 770px) {
    display: inline-block;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 1.5rem;
    right: 1rem;
    background-color: $bg-color;
    border: none;
  }
}

.nav-button {
  position: relative;
  background: none;
  border: none;
  width: 70%;
  cursor: pointer;
  padding-bottom: 0.3rem;
}

.nav-button::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0.3rem;
  background-color: $text-color;
  transition: width 0.3s ease, left 0.3s ease;
}

.nav-button:hover::before {
  width: 80%;
  left: 10%;
}

.active::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 10%;
  width: 80%;
  height: 0.3rem;
  background-color: $highlight-color;
}

.shop-button {
  width: 100%;
  margin-right: 40vw;
}
