<div class="login-container">
  <div class="login-title">Login</div>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" placeholder="you@example.com" type="email" required />
      <mat-hint>We'll never share your email.</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" placeholder="Your password" type="password" required />
      <mat-hint>Minimum 6 characters.</mat-hint>
    </mat-form-field>

    <button mat-raised-button color="primary" class="full-width" type="submit" [disabled]="loginForm.invalid">
      Login
    </button>
    <div class="register-container">No account yet? <span routerLink="/register" class="register-span">Register</span>
    </div>
  </form>
</div>