<tr *ngFor="let item of displayItems">
  <td>{{ item.product.name }}</td>
  <td>
    <button mat-flat-button (click)="decreaseQuantity(item.product)">-</button>
    {{ item.quantity }}
    <button mat-flat-button (click)="increaseQuantity(item.product)">+</button>
  </td>
  <td *ngIf="item.product.onSale" class="on-sale">
    <p [ngStyle]="{ 'text-decoration': 'line-through' }">{{ item.product.price | formatPrice }}</p>
    <p>{{ item.product.discountedPrice | formatPrice }}</p>
  </td>
  <td *ngIf="item.product.onSale" class="on-sale">
    <p>{{ (item.product.discountedPrice ?? 0) * item.quantity | formatPrice }}</p>
  </td>
  <td *ngIf="!item.product.onSale">
    <p>{{ item.product.price | formatPrice }}</p>
  </td>
  <td *ngIf="!item.product.onSale">
    <p>{{ item.product.price * item.quantity | formatPrice }}</p>

  <td>
    <button mat-fab extended="true" (click)="removeFromCart(item.product)"><mat-icon>delete</mat-icon> Remove</button>
  </td>
</tr>

<tr *ngIf="displayItems.length === 0">
  <td colspan="5">Your cart is empty.</td>
</tr>
<tr *ngIf="displayItems.length > 0">
  <td colspan="4" class="total">Total:</td>
  <td>{{ cart?.total | formatPrice }}</td>
</tr>
<tr *ngIf="displayItems.length > 0">
    <button mat-raised-button color="primary" (click)="checkout()">Checkout</button>
</tr>