.cart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 1vh;
  }

table {
    width: 50%;
    border: #ddd 1px solid;
    background-color: transparent;
  }
  
  th, td {
    border: 1px solid #ddd;
    text-align: center;
  }

  .image-column{
    width: 100px;
    height: 100px;
  }
  
  .quantity-column{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
  }

  .total{
    text-align: center;
  }
