table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border: #ddd 1px solid;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
  }
  
  th {
    background-color: #f4f4f4;
  }
  
  h2, h3 {
    margin-top: 20px;
  }
  
  p {
    font-size: 18px;
    font-weight: bold;
    color: gray;
  }

  button {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    margin-top: 20px;
  }
  
  button.mat-raised-button {
    background-color: #6200ea;
    color: white;
    border-radius: 4px;
  }
  
  button.mat-raised-button:hover {
    background-color: #3700b3;
  }

  