@font-face {
    font-family: 'MyGothicFont';
    src: url('./app/fonts/GingkoFraktur.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

$bg-color: #1A1A1D;
$accent-color: #3B1C32;
$highlight-color: #6A1E55;
$secondary-color: #a64d79;
$text-color: #bcbcbc;


body{
    background-color: $accent-color;
    margin: 0;
    padding: 0;
}

*{
    color: $text-color;
    font-family: 'MyGothicFont', serif;
    font-size: 1.1rem;
}